body,
html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #00aeba; /* Default background color */
  font-family: "Alata", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}

header,
footer,
nav,
main {
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

main h1 {
  font-size: 7em; /* Significantly increased size for Hubri text */
  margin: 0; /* Adjusted margin for centering */
  color: white; /* Ensures text is white */
}

nav {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
}

nav a {
  color: white;
  padding: 0.5rem;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  text-decoration: underline;
}

main {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem; /* Added space from the top for privacy content */
}

.about-content {
  /* max-width: 20%; Adjusted content width for readability */
  margin: auto;
  text-align: center;
}

.contact-body a {
  color: white;
}

footer {
  text-align: center;
  margin-top: auto;
  font-size: 0.4em; /* Adjusted font size */
  color: white; /* Text color */
}

/* Privacy Policy page-specific footer style */
.privacy-body footer {
  color: black; /* Text color for footer on Privacy Policy page */
}

/* Specific Page Backgrounds */
.about-body {
  background-color: #473bf0;
}

.contact-body {
  background-color: #ea003e;
}

.privacy-body {
  background-color: white;
  color: black;
  padding-top: 2rem;
  display: block; /* Additional padding for content spacing */
}

/* Override for privacy page main element */
.privacy-body main {
  display: block; /* Disables flexbox for main element */
  width: auto; /* Ensures it takes the full available width */
  max-width: none; /* Removes any max-width restriction */
  padding: 1rem; /* Consistent padding */
}

.app-screenshots {
  display: flex;
  justify-content: space-around; /* Distributes space evenly between images */
  flex-wrap: wrap; /* Allows images to wrap on smaller screens */
  margin-top: 2rem; /* Adds some space above the image gallery */
}

.app-screenshots img {
  max-width: 15%; /* Adjusts image size to fit 5 across on larger screens */
  margin: 10px; /* Adds space between images */
  border-radius: 10px; /* Rounds the corners of the images */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  header h1 {
    font-size: 8em; /* Smaller font size for mobile */
  }

  .app-screenshots img {
    max-width: 45%; /* Allows for 2 images per row on smaller screens */
  }

  .about-content {
    max-width: 90%; /* Wider content area for mobile */
  }
}
