body {
  background-color: #00aeba;
  font-family: "Alata", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header h1 {
  font-size: 4em; /* Makes the text larger */
  color: white; /* Ensures text is white */
  text-align: center; /* Centers the text */
  margin: 0 auto; /* Additional centering for the element */
  padding: 0.5em; /* Adds some padding around the text */
}

header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  width: 400px; /* Adjust size as needed */
  height: auto;
}

nav {
  background: #00aeba;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

nav a {
  color: white;
  padding: 0 1rem;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  text-decoration: underline;
}

main {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background: #00aeba;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

footer p {
  margin: 0;
}
