body,
html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #00aeba; /* Default background color */
  font-family: "Alata", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}

header,
footer,
nav,
main {
  padding: 1rem;
}

header h1 {
  font-size: 8em; /* Adjusted size */
  margin: auto; /* Centering */
}

nav {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
}

nav a {
  color: white;
  padding: 0.5rem;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  text-decoration: underline;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: auto;
  font-size: 0.4em; /* Adjusted size */
}

/* Specific Page Backgrounds */
.about-body {
  background-color: #473bf0;
}
.contact-body {
  background-color: #ea003e;
}
.privacy-body {
  background-color: white;
  color: black;
}

/* Content width for About page */
.about-content {
  max-width: 25%;
  margin: auto;
}
